<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="/stylesheets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <title>Document</title>
</head>
<body>
        <a href="/" style="font-size: 5vh">Home</a>
        <br>
        <a href="/games/<%= game._id %>/edit" style="font-size: 5vh">Edit</a>
        <form action="/games/<%= game._id %>?_method=DELETE" method="POST">
            <input type="submit" value="delete">    
        </form>
    <p><%= game.name %> </p>
    <p><%= game.text %> </p>
    <form action="/games/<%= game._id %>/comments" method="POST" >
        <label>Comment</label>
        <input type="text" name="content">
        <input type="submit" value="Add Comment">
    </form>

    <% if (game.comments.length){ %>
        <% game.comments.forEach(comment=>{ %>
            <p><%= comment.content%></p> 
             <form action="/games/<%= comment._id %>?_method=DELETE" method="POST" >
            <input type="submit" value="X">
        
        </form>
            <% }) %>
   <% } %>
</body>
</html>